<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fornula.domain.board.mapper.java.BoardMapper">

  <!-- 게시물 작성 -->
  <insert id="insertBoard" parameterType="Board">
    <selectKey resultType="int" keyProperty="boardIdx" order="BEFORE">
       SELECT board_seq.nextval FROM dual
    </selectKey>
       INSERT INTO board VALUES(
                #{boardIdx}
                ,#{boardTitle}
                ,#{boardContent}
                ,#{id}
                ,#{boardFileName}
                ,1
                ,0
                ,sysdate
                ,0
                ,sysdate  )
  </insert>
  
  <!-- 게시물 삭제 -->
  <update id="deleteBoard">
    UPDATE board 
    SET board_status=0
    WHERE board_idx = #{boardIdx}
  </update>
 
  <!-- 게시물 수정 -->
  <update id="updateBoard" parameterType="Board">
    UPDATE board 
    SET board_title = #{boardTitle}
       ,board_content = #{boardContent}
       ,boardfile_name = #{boardFileName}
       ,up_date = sysdate
    WHERE board_idx = #{boardIdx}
  </update>
 
   <!-- 게시물 한개 출력 -->
   <select id="selectBoard" resultType="Board">
   SELECT board_idx
         ,board_title
         ,board_content
         ,id
         ,boardfile_name
         ,board_status
         ,view_cnt
         ,reg_date
         ,comment_cnt
         ,up_date
    FROM board
    WHERE board_idx = #{boardIdx}
   </select>
   
   <!-- 게시물 갯수 -->
   <select id="count" resultType="int">
     SELECT count(*) FROM board
     <if test="keyword != null and keyword !=''">
       <bind name="word" value="'%'+keyword+'%'"/>
       WHERE ${column} LIKE #{word}
     </if>
   </select>
 
   <!-- 댓글 갯수 증가 -->
  <update id="updateCommentCnt" parameterType="map">
  UPDATE board 
  SET comment_cnt = comment_cnt + #{cnt}
  WHERE board_idx = #{boardIdx}
  </update>
 
   <!-- 조회수 증가 -->
   <update id="increaseViewCnt">
   UPDATE board 
   SET view_cnt = view_cnt + 1
   WHERE board_idx = #{boardIdx}
   </update>
 
   <!-- 게시물 전체 출력 -->
   <select id="selectBoardList" resultType="Board">
   SELECT * 
   FROM(SELECT rownum rn, b.*
        FROM (SELECT board_idx
                ,board_title
                ,board_content
                ,id
                ,boardfile_name
                ,board_status
                ,view_cnt
                ,reg_date
                ,comment_cnt
                ,up_date
               FROM board
               <where>
               <if test="keyword != null and keyword != ''">
                 <bind name="word" value="'%'+keyword+'%'"/>
                 ${column} LIKE #{word} and
               </if>
               board_status = 1
               </where>      
                ORDER BY reg_date desc, board_idx desc )
         b )
     WHERE rn BETWEEN #{startRow} AND #{endRow}
   </select>
 
</mapper>