<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.fornula.domain.item.mapper.java.ItemBoardMapper">
	
	<!-- 상품 게시판에서 상품 리스트들을 뽑을 때 사용하는 SQL문 / categoryIdx를 입력 받는다면 해당 categoryIdx가 포함된 상품만 출력되도록 변경 -->
	<select id="selectItemList" resultMap="ItemPhotoCategoryCart">
    SELECT *
    FROM (
        SELECT rownum rn, itemlist.*
        FROM (
            SELECT
                item.item_idx,
                item.category_idx,
                item.EXPERT_IDX,
                item.item_name,
                item.item_content,
                item.PRICE,
                photo.PHOTO_IDX,
                photo.ITEMFILE_NAME
            FROM item
            JOIN PHOTO ON item.ITEM_IDX = photo.ITEM_IDX
            WHERE
                item.item_status = 1
                <if test="categoryIdx != null">
                    AND item.category_idx = #{categoryIdx}
                </if>
                <if test="searchKeyword != null">
                    AND (item.item_name LIKE '%' || #{searchKeyword} || '%' OR item.item_content LIKE '%' || #{searchKeyword} || '%')
                </if>
            ORDER BY item.item_idx DESC
        ) itemlist
    )
    WHERE rn BETWEEN #{startRow} AND #{endRow}
	</select>

	<resultMap type="ItemPhotoCategoryCart"
		id="ItemPhotoCategoryCart">
		<association property="item" javaType="Item">
			<id column="item_idx" property="itemIdx" />
			<result column="category_idx" property="categoryIdx" />
			<result column="expert_idx" property="expertIdx" />
			<result column="item_name" property="itemName" />
			<result column="item_content" property="itemContent" />
			<result column="price" property="price" />
		</association>
		<association property="photo" javaType="Photo">
			<id column="photo_idx" property="photoIdx" />
			<result column="itemfile_name" property="itemfileName" />
		</association>
	</resultMap>

	<!-- 우리는 상품 올린다음 수정하는 기능은 따로 안만들었으니 관리자가 상품 게시글을 삭제처리(상품상태 컬럼값을 0으로 변경)할 
		때 사용할 SQL문 여기다가 작성해 민환아 -->
	<update id="updateItem">
		update item
		set item_status=#{itemStatus}
		where
		item_idx=#{itemIdx}
	</update>

	<!-- 총 상품 게시글의 수를 카운트 하는 용도 -->
	<select id="selectItemBoardCount" resultType="int">
		SELECT COUNT(*)
		FROM item
		WHERE item_status = 1
	</select>
</mapper>