<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fornula.domain.item.mapper.java.ItemDetailMapper">
	<!-- 상품 상세페이지에서 출력할 내용(하나의 상품)을 위한 SQL문 -->	
	<select id="selectItem" resultType="Item">
		select item_idx,
				category_idx,
				expert_idx,
				item_name,
				item_content,
				price,
				item_date
		from item
		where item_idx = #{itemIdx}
	</select>
	
	<!-- expert_idx를 활용해서 전문가의 ID(member 테이블의), phone 가져오기 -->
	<select id="selectItemExpert" resultType="ExpertMember">
		select id
			,phone 
		from member,expert
		where MEMBER.member_idx=EXPERT.member_idx
			and expert_idx=#{expertIdx}	
	</select>
	
	<select id="findByMemberIdx" resultType="Expert">
		select expert_idx
		from member join expert on member.member_idx = expert.member_idx
		where member.member_idx = #{member_idx}
	</select>
	
	<select id="selectPhoto" resultType="Photo">
		select itemfile_name
		from photo
		where item_idx = #{itemIdx}
	</select>
	
	
</mapper>