<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fornula.domain.item.mapper.java.ItemPaymentMapper">

	<!-- 결제전 결제페이지에서 결제 상품 정보 출력 SELECT쿼리 -->
	<select id="selectItemPayment" resultType="ItemPayment" >
		SELECT  item.item_name,
				item.item_idx,
				item.price,
				photo.photo_idx,
				photo.itemfile_name
		FROM item JOIN photo 
		ON item.item_idx=photo.item_idx
		WHERE item.item_idx = #{itemIdx}
	</select>

</mapper>