<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fornula.domain.member.mapper.java.MypageItemMapper">
	
	<!-- 마이페이지의 구매내역에서 사용할 SQL문 -->
	
	<!-- 상품 뽑는 쿼리 -->
	<!-- 상품 사진 뽑는 쿼리 수정해야함 -->
	<!-- 구매테이블에서 구매번호,구매날짜,구매상태를 현재세션의 회원idx로 뽑는 쿼리 -->
	<select id="selectPurchaseMypage" resultType="Purchase" >
		select   purchase_idx
                ,purchase_date
                ,purchase_status
		from purchase
		where member_idx = #{memberIdx}
	</select>
	
	<!-- 상품테이블과 전문가테이블에서 상품이름, 상품설명, 상품사진을 현재세션의 회원idx로 뽑는 쿼리 -->
	<select id="selectItemMypage" resultType="ItemExpert" >
		select   item_name
                ,item_content
                ,photo_idx
		from item,export
		where item.expert_idx=expert.expert_idx
		and member_idx = #{memberIdx}
	</select>
	
	
</mapper>