<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fornula.domain.member.mapper.java.MypageInfoMapper">
   <!-- 마이페이지의 나의 정보 보기에서 사용할 SQL문 -->
   
   <!-- 이메일 수정 쿼리 -->
   <update id="updateMypageInfo" >
     UPDATE member 
     SET email=#{email}
     WHERE id=#{id}
   </update>
 
   <!-- 회원정보 뽑는 쿼리 -->
    <select id="selectMypagePassword" resultType="Member" >
      SELECT  member_idx,
            id,
            password,
            email,
            member_date,
            member_status,
            login_date
      FROM member
      WHERE id = #{id}
   </select>
   
   <!-- 회원세션에서 categortyone int로 받아서 관심사테이블에서 다시 String으로 뽑는 쿼리 -->
    <select id="selectMypageCategoryOne" resultType="Category" >
      SELECT  large, small
      FROM category
      WHERE category_idx = #{categoryOne}
   </select>

   <!-- 회원세션에서 categortyTwo int로 받아서 관심사테이블에서 다시 String으로 뽑는 쿼리 -->
    <select id="selectMypageCategoryTwo" resultType="Category" >
      SELECT  small, large
      FROM category
      WHERE category_idx = #{categoryTwo}
   </select>
   
      <!-- 회원세션에서 categortyone int로 받아서 관심사테이블에서 다시 String으로 뽑는 쿼리 -->
    <select id="selectMypageCategoryThree" resultType="Category" >
      SELECT  small, large
      FROM category
      WHERE category_idx = #{categoryThree}
   </select>

</mapper>