<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fornula.domain.member.mapper.java.MypagePasswordMapper">
  
    <!-- 새로운 비밀번호 변경 UPDATE쿼리 -->
	<update id="updateMypagePassword" >
	    UPDATE member 
        SET password=#{newPassword} 
        WHERE id=#{id}
	</update>
	
	<!-- 현재 로그인회원의 정보로 현재비밀번호 비교할 SELECT쿼리 -->
	<select id="selectMypagePassword" resultType="Member" >
		SELECT  member_idx,
				id,
				password,
				email,
				member_date,
				member_status,
				login_date
		FROM member
		WHERE id = #{id}
	</select>
	
	
	
</mapper>