<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fornula.domain.member.mapper.java.MypageItemMapper">

   <!-- 상품 뽑는 쿼리 -->
   <!-- 구매테이블에서 구매번호,구매날짜,구매상태를 현재세션의 회원idx로 뽑는 쿼리-->
   <select id="selectPurchaseMypage" resultType="Itempurchase" >
      SELECT * FROM(SELECT rownum rn, purchaselist.* FROM
             (SELECT itempurchase.purchase_idx
                ,itempurchase.purchase_date
                ,itempurchase.purchase_status
                ,itempurchase.item_idx
                ,itempurchase.item_name
                ,itempurchase.item_content
                ,itempurchase.price
                ,photo.itemfile_name
      FROM (SELECT   purchase.purchase_idx
                ,purchase.purchase_date
                ,purchase.purchase_status
                ,item.item_idx
                ,item.item_name
                ,item.item_content
                ,item.price
      FROM purchase JOIN item
      ON purchase.item_idx=item.item_idx
      WHERE purchase.member_idx = #{memberIdx}) itempurchase JOIN photo
      ON itempurchase.item_idx=photo.item_idx 
      ) purchaselist )
      WHERE rn BETWEEN #{startRow} AND #{endRow}
      </select>
      
    <!-- 페이징 처리를 위한 count 검색 쿼리  -->
   <select id="selectPurchaseCount" resultType="int">
       SELECT COUNT(*)
       FROM purchase
    </select> 

   
   
   

   
   
</mapper>