<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fornula.domain.board.mapper.java.SearchMapper">
	<!-- header의 검색창에서 사용할 검색 기능 -->
	<select id="searchItem" resultType="Item">
		
	</select>
	
	<!-- 상품 게시판에서 카테고리별 검색하는 검색 기능 -->
	<select id="searchItemCategory" resultType="Item">
	
	</select>
</mapper>