<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fornula.domain.item.mapper.xml.ItemPaymentSuccessMapper">
	<!-- 결제완료페이지에서 사용할 SQL문 -->
	
	<insert id="insertPurchaseItem">
		<selectKey resultType="int" keyProperty="purchaseIdx" order="BEFORE">
			select purchase_seq.nextval from dual
		</selectKey>
		insert into purchase values(#{purchaseIdx}
			,#{itemIdx}
			,#{memberIdx}
			,SYSDATE
			,2)
		where item_idx = #{itemIdx}
	</insert>
	
	<insert id="insertSalesItem">
		<selectKey resultType="int" keyProperty="salesIdx" order="BEFORE">
			select sales_seq.nextval from dual
		</selectKey>
		insert into item values(#{salesIdx}
			,#{itemIdx}
			,SYSDATE
			,2)
		where item_idx = #{itemIdx}
	</insert>
	
	
</mapper>