<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fornula.domain.expert.mapper.xml.ExpertSalesMapper">
	<!--검색필터를 이용한 검색 
	<select id="selectSearchSalesList" resultType="ItemSales">
		select SALES.sales_idx,	
			   SALES.sales_date, 
			   SALES.sales_status,
			   ITEM.item_name,
			   ITEM.price
			   ITEM.item_content
		from item ITEM
		join sales SALES
		on ITEM.item_idx = SALES.item_idx
		where sales_status=#{salesStatus} and sales_date=#{salesDate}
		order by sales_date
	</select> -->
	
	<!-- 판매내역 출력 -->
	<select id="selectSalesList" resultType="ItemSales">
		select SALES.sales_idx,	
			   SALES.sales_date, 
			   SALES.sales_status,
			   ITEM.item_name,
			   ITEM.price
			   ITEM.item_content
		from item ITEM
		join sales SALES
		on ITEM.item_idx = SALES.item_idx
		order by sales_date
	</select>
	
<!-- 	 상태 버튼 클릭시 판매 상태 변경 
	<update id="updateSalesStatus">
		update sales
		set sales_status =#{salesStatus}
		where sales_idx=#{salesIdx}
	</update>
	
	구매확정된 총 판매금액 출력
	<select id="selectPrice" resultType="ItemSales">
		select SUM(price)
		from item ITEM
		join sales SALES
		on ITEM.item_idx = SALES.item_idx
		where SALES.sales_status between 5 and 7
		
	</select> -->
</mapper>