<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fornula.domain.expert.mapper.xml.ExpertInputMapper">
	<!-- 전문가 마이페이지 중 전문가 정보 수정/등록 페이지에서 전문가 가입 시 받은 정보, 전문가 정보 수정/등록 페이지에서 추가한 정보들을 수정할 때 사용할 SQL문 -->
	<update id="updateExpert">
		update expert set phone=#{phone}
			,interest=#{interest}
			,introduce=#{introduce}
			,career=#{career}
			,compnay_one=#{company_one}
			,compnay_two=#{company_two}
			,compnay_three=#{company_three}
			,expertfile_name=#{expertfile_name}
		where expert_idx=#{expert_idx}
	</update>
	
	<!-- 전문가 마이페이지 중 전문가 정보 수정/등록 페이지에서 전문가가 등록한 상품 게시물의 게시글을 출력하는 SQL문 -->
	<select id="expertBoardList" resultMap="ExpertItemPhoto">
		select expert_idx
			,photo_idx
			,item_name
			,item_content
			,item_date
		from expert,item,photo
		where EXPERT.expert_idx=ITEM.expert_idx 
			and ITEM.item_idx=PHOTO.item_idx
			and item_status=1
	</select>
	
	<!-- 전문가 등록  -->
	<insert id="insertExpert">
		<selectKey resultType="int" keyProperty="memberIdx" order="BEFORE">
			select member_seq.nextval from dual 
		</selectKey>
		insert into expert values 
			(#{expertIdx}, #{memberIdx}, #{phone},
			 #{interest}, #{introduce}, #{career}, 
			 #{company_one), #{company_two), #{company_three),
			 #{expertfile_name})
	</insert>
</mapper>