body.error404 {

  .header {
    min-height: 100% !important;
  }

  .main {
    margin-top: auto;
    margin-bottom: $lana-main-padding-y;

    padding-top: ($spacer * 2.5);
  }

  .title {
    font-weight: $font-weight-bold;
    margin-bottom: ($spacer * 2);
  }

  .subtitle {
    margin-bottom: ($spacer * 1.5);
  }
}